.cell {
  background-color: rgb(238, 242, 230);
  border: 3px solid rgb(28, 103, 88);
  border-radius: 6px;
  margin: .15vh;
  cursor: pointer;
  box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
}

.cell:hover {
  transform: scale(1.02);
}